body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    font-style: normal;
}

ul,
ol{
    list-style-type: none;
}

button{
    cursor: pointer;
}

/* #region header */
/*
.header {}

.nav-header {}
*/

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-style{
    color: #2e2f42;
}

/*
.nav-list {
}

.nav-item {  
}
*/

.nav-item-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-item-link:focus,
.nav-item-link:hover{
    color: #404bbf;
}

/* #region header address*/


.header-addr {
    font-style: normal;
}
/*
.addr-list {}

.addr-list-item {}
*/

.addr-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.addr-link:focus,
.addr-link:hover{
    color: #404bbf;
}

/* #endregion */


/* #endregion*/

/* #region hero */

.hero {
    background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
}

.hero-btn:focus,
.hero-btn:hover{
    background-color: #404bbf;
}

/* #endregion */

/* #region main solutions */

/*
.main-solutions {}

.main-sol-list {}

.main-sol-list-item {}
*/

.main-sol-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.main-sol-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion */

/* #region our team*/

.team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
/*
.team-list {}
*/
.team-list-item {
    background-color: #ffffff;
}


.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion */

/* #region portfolio */

/*
.portfolio {}
*/

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

/*
.portfolio-list {}

.portfolio-list-item {}
*/

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion */

/* #region footer */

.footer{
    background-color: #2e2f42;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer .logo-style{
    color: #f4f4fd;
}

/* #endregion */


